<div class="container">
  <div class="row justify-content-center">
    <h4>Lista de todos los libros</h4>
  </div>
  <div class="row justify-content-center">
    <table class="table table-hover">
      <thead>
        <th>Id</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Fecha Publicacion</th>
      </thead>
      <tbody>
        <tr *ngFor="let libro of libros" routerLink="/detail/{{libro.id}}">
          <td>{{libro.id}}</td>
          <td>{{libro.name}}</td>
          <td>{{libro.author}}</td>
          <td>{{libro.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
